## Lab: SQL Practice

> Authors: Matt Brems & Jeff Hale

In this lab, you have 11 prompts. Most prompt will require you to do two things:
1. Write a SQL query.
2. Use the result of that query to answer the question.

The purpose of this lab is to help you practice your SQL - an **important** skill for working with data! 

Do everything with an SQL query in `pd.read_sql()`. 

If you want extra practice, do everything in pandas, too! üêº

**Data**: The data used in this lab is the Iowa liquor database. It contains various tables of transactions. The ERD for this database is here:

<img src="./images/erd.png" alt="erd" width="750"/>

In [2]:
# Imports

import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Set up the engine to access the data.

# 'driver://username:password@host:port/database'
engine = create_engine('postgres://analytics_student:analyticsga@analyticsga-psql.generalassemb.ly:5432/iowa_liquor_sales_database')

### Prompt 1

How many rows are there in the `stores` table of the Iowa liquor database?

In [ ]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT
"""

pd.read_sql(sql, engine)

**Prompt 1 Answer**:

### Prompt 2

If you sort the stores in alphabetical order by name, which store is fourth? It's okay that numbers and capital letters come before lower case letter.

In [ ]:
# Use a SQL query to find the answer to the above prompt.

sql = """

"""

**Prompt 2 Answer**:

### Prompt 3

For sales where the category name is `IMPORTED VODKA`, if you sort by vendor in alphabetical order, what are the bottle price and number of bottles in each of the first 3 transactions?

In [ ]:
# Use a SQL query to find the answer to the above prompt.

sql = """

"""

pd.read_sql(sql, engine)

**Prompt 3 Answer**:

### Prompt 4

What is the total amount of liquor sold in February 2015? Display it in dollars and cents.

In [ ]:
# Use a SQL query to find the answer to the above prompt.

sql = """

"""
pd.read_sql(sql, engine)

**Prompt 4 Answer**: The total amount of liquor sold in February 2015

### Prompt 5

Among all transactions where `IMPORTED VODKA` was sold, which vendor has the most transactions? 

Report the total number of transactions, the number of bottles sold, and the total amount of revenue from these transactions. 

Rename the columns to make sure there isn't any confusion as to what they mean.

In [ ]:
# Use a SQL query to find the answer to the above prompt.

sql = """

"""

pd.read_sql(sql, engine)

**Prompt 5 Answer**:

### Prompt 6

The reason we sell things is to make money. In sales, the term **markup** means the amount of money charged for a product over the cost to make that product.

In Iowa, the law states the minimum price at which liquor may be sold.

Create a column called `Markup` that shows the difference between the `btl_price` and the `state_btl_cost`.

In [ ]:
# Use a SQL query to display the table discussed above.

sql = """

"""

pd.read_sql(sql, engine)

### Prompt 7

Calculate and display the "Percentage Markup" per store (just store id, not name) by dividing markup by the state bottle cost. 

This will tell you how much stores are increasing their average price over the state minimum.

In [ ]:
# Use a SQL query to find the answer to the above prompt.

sql = """

"""

pd.read_sql(sql, engine)

### Prompt 8

Calculate the average percentage markup per **store**. Return the average percentage markup and store number for the three stores with the largest markups.

In [ ]:
# Use a SQL query to find the answer to the above prompt.

sql = """

"""

pd.read_sql(sql, engine)

**Prompt 8 Answer**: The store with the highest average markup percentage is store

### Prompt 9

Retrieve the three stores with the highest average markup percentage. Along with the store IDs and average markup percentage, return the minimum and maximum markup percentage for those stores, the names and addresses of those store.

What are the names of the 3 stores?

In [ ]:
# Use a SQL query to find the answer to the above prompt.

sql = """

"""

pd.read_sql(sql, engine)

**Prompt 9 Answer**: The three stores with the highest markups are

### Prompt 10

Which nine counties sell the highest number of bottles of liquor per capita? Calculate the average bottle size of the bottles of liquor sold by these counties, rounded to the nearest first decimal place. Also display the county name, and average bottle size.

Of the nine counties selling the highest number of bottles of liquor per capita, which county sells (on average) the largest bottle size?

In [4]:
# Use a SQL query to find the answer to the above prompt.

sql = """

"""

pd.read_sql(sql, engine)

          county  Bottles Sold per Capita  Average Bottle Size
0      Dickinson                       22                974.1
1           Polk                       15                892.6
2     Black Hawk                       15                862.9
3    Cerro Gordo                       14                986.4
4          Scott                       13                871.6
5        Johnson                       13                895.4
6           Linn                       12                886.3
7  Pottawattamie                       11                893.7
8        Kossuth                       11               1041.0

**Prompt 10 Answer**:

### Prompt 11

In the `sales` table, three columns are `btl_price`, `bottle_qty`, and `total`. The `total` for a transaction _should be_ the product of `btl_price` and `bottle_qty`. How many transactions, if any, have a value of `total` that is not equal to `btl_price` times `bottle_qty`?

> You might get a type error. We cannot compare type `money` to type `real`. You may have to convert `total` to type `money` to compare the two directly.

In [ ]:
# Use a SQL query to find the answer to the above prompt.

sql = """

"""


pd.read_sql(sql, engine)

**Prompt 11 Answer**: